<ion-view view-title="{{lesson.name}}">
  <ion-content>
    <div class="card">
      <div class="item item-divider tcenter"><span style="float:right;">Idő: {{second}}</span>{{actIdx+1}}. Feladat</div>
      <div class="item item-text-wrap tcenter big-padding" ng-bind-html="exercise.html">
      </div>
      <div class="item-divider">
        <div class="row row-center">
          <div class="col col-center tcenter">
            <button ng-click="prev()" ng-disabled="actIdx==0" class="button button-positive" >Előző</button>
          </div>
          <div class="col" ng-repeat="choice in exercise.choices">

            <ion-checkbox class="small" ng-model="choice.answer"><span style="float:right;">({{getChar($index)}})</span>{{choice.val}}</ion-checkbox>
          </div>
          <div class="col col-center tcenter">
            <button ng-click="next()" ng-show="actIdx+1<lesson.exercises.length" class="button button-positive">Következő</button>
            <button ng-click="finish()" ng-show="actIdx+1==lesson.exercises.length" class="button button-positive">Befejez</button>
          </div>
        </div>
      </div>
    </div>
  </ion-content>

</ion-view>
