<ion-view view-title="{{lesson.name}}">
  <ion-content>
    <div class="card">
      <div class="item item-divider tcenter"><span style="float:right;">Idő: {{second}}</span>{{actIdx+1}}. Feladat</div>
      <div class="item item-text-wrap tcenter big-padding" ng-bind-html="exercise.html">
      </div>
      <div class="item-divider">
        <ion-list>
          <ion-checkbox ng-repeat="choice in exercise.choices" ng-model="choice.answer" ng-click="select(choice)">
            <span style="position:absolute;left:4px;top:14px;z-index:10;">{{getChar($index)}})</span>{{choice.val}}
          </ion-checkbox>
        </ion-list>
        <div class="button-bar">
          <button ng-click="prev()" ng-disabled="actIdx==0" class="button button-positive" style="">Előző</button>
          <button ng-click="next()" ng-disabled="actIdx+1==lesson.exercises.length" class="button button-positive">Következő</button>
          <button ng-click="finish()" class="button button-positive">Befejez</button>
        </div>
      </div>
    </div>
  </ion-content>

</ion-view>
