<ion-view view-title="Szia">
  <ion-content class="padding">
    <h2>Üdvözöllek Trompf világában</h2>
    <p>
      Trompf egy alkalmazás, mely segítségével könnyedén gyakorolhattok, különböző témakörökben.
      Jelenleg matek és német nyelv gyakorlására van lehetőségetek.
      A tartalmi rész folyamatosan bővül, így nézzetek be gyakran, hátha megtaláljátok azt, amit kerestek!
    </p>
    <p>
      A feladatok között válogathattok, mit szeretnétek gyakorolni.
      A beállítások után kezdhetitek is a gyakorlást.
    </p>
    <p>
      Sok sikert a feladotokhoz !
    </p>
  </ion-content>
</ion-view>
